doctype html
html(lang="ru")
	head
		title Test
		meta(charset='utf-8')
		meta(name='keywords')
		meta(name='description')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
		link(rel='shortcut icon' href='favicon.ico')
		link(rel='stylesheet' href=url_for('static', filename='css/main.css'))
		script(type='text/javascript' src=url_for('static', filename='js/jquery-3.1.0.min.js'))
		script(type='text/javascript' src=url_for('static', filename='js/main.min.js'))
	body
		-if(type == 'choose')
			.choose
				a(href='/frontend').choose__item Frontend
				a(href='/backend').choose__item Backend
		-else
			.switcher
				a(href='/').switcher__home Home
				.switcher__item.active Task 1
				.switcher__item Task 2
		-if(type == 'frontend')
			.tab.active
				.result
			.tab
				.result
		-if(type == 'backend')
			.tab.active
				.result
					each i in data
						.result__line
							.result__column= i.Imei
							.result__column= i.CurrentDateTime
							.result__column= i.GPSDateTime
							.result__column= i.Datatype
							.result__column= i.Address
							.result__column= i.Distance
			.tab
				.result
					each i in secondary
						.result__line
							.result__column= i.CurrentDateTime
							.result__column= i.Datatype
							.result__column= i.Address
							.result__column= i.Distance